@import "./fontawesome/scss/fontawesome.scss";

body{
    background-image: url("images/home_sec.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode: overlay; */
    background-color: black;
    color: blanchedalmond;
    height: 122vh;
    width: 100%;
}

#form{
    font-size: 1.5em;
    text-align: center;
    color: cornsilk;
    padding: 40px;
    background-color: rgba(76, 6, 117, 0.3);
}

#form h1{
    margin-bottom: 40px;
}

#form button{
    margin-top: 20px;
    font-size: 1.5rem;
    background-color: #7468a0;
    border: none;
    outline: none;
}

#form button:hover{
    background-color: palevioletred;
}

.centerform{
    position: absolute;
    top: 5%;
    left: 35%;
    transform: translate(-50%, - 50%);
    width: 40%;
}